<link rel="stylesheet" type="text/css" href="<%= global.url %>assets/css/chartist.css">
<link rel="stylesheet" type="text/css" href="<%= global.url %>assets/css/prism.css">
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
<style>
    .map-container{
        width: 550px;
        height: 550px;
        position: relative;
        margin: 0 auto 20px;
 
    }
    #map {
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        padding-top: 50px;
        box-shadow: 5px 5px 10px #DDD, -5px 5px 10px #DDD;
        z-index: 6;
    }
    div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
        margin-right: 150px;
        margin-top: 40px;
    }
    #roundBorderCanvas{
        position: absolute;
        right: -280px;
        z-index: 5;
        transform: rotateZ(10deg);

        
    }
    #topLineCanvas{
        
        position: absolute;
        z-index: 4;
        right: -55px;
        top: 25px;
        transform: rotateZ(10deg);

    }
    #bottomLineCanvas{
        position: absolute;
        z-index: 4;
        right: 76px;
        bottom: -165px;
        transform: rotateZ(10deg);
    }
    #baseLineCanvas{
        position: absolute;
        z-index: 4;
        right: -20px;
        bottom: -175px;
    }
    #baseCanvas{
        position: absolute;
        z-index: 4;
        right: -120px;
        bottom: -430px;
        transform: rotateX(100deg);

    }
</style>

<%- contentFor('title') %>
<%= title %>

<%- contentFor('breadcrumb_title')%>
Home

<%- contentFor('breadcrumb_item') %>
<li class="breadcrumb-item">Glopper</li>
<li class="breadcrumb-item active">Map</li>

<%- contentFor('body') %>

<!-- Container-fluid starts-->
<div class="container-fluid" style="padding-bottom: 200px;">
    <div class="map-container">
        <canvas id="topLineCanvas">  </canvas>
        <canvas id="roundBorderCanvas"></canvas>
        <div id="map" class="animate__animated animate__bounceInDown"></div>
        <canvas id="bottomLineCanvas">  </canvas>
        <canvas id="baseLineCanvas">  </canvas>
        <canvas id="baseCanvas">  </canvas>
    </div>
</div>
<!-- Container-fluid Ends-->


<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<script src="<%= global.url %>assets/js/notify/bootstrap-notify.min.js"></script>
<script src="<%= global.url %>assets/js/notify/index.js"></script>
<script>
    // TO MAKE THE MAP APPEAR YOU MUST
    // ADD YOUR ACCESS TOKEN FROM
    // https://account.mapbox.com
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXBkb2Vsc2FlZCIsImEiOiJja2IxZWE3NHEwMTlqMnFzNXI5ZGFkc3RvIn0.Ltca2MhPqyWI0xIJaE4Imw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-79.4512, 43.6568],
        zoom: 0
    });


    map.on('click',(evt) => {
        console.log(evt.lngLat);
        findThisLocation(evt.lngLat);
    })

    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
        })
    );

    async function findThisLocation(latlon){
        let lat = latlon.lat;
        let lng = latlon.lng;
        let countryName = '';
        let cityName = '';
        let apikey = 'LMZ6R4ki2QL4pqDAkouz_nc5lnKBmG1WRRBF0BouJlA';
        let res = await fetch(`https://reverse.geocoder.ls.hereapi.com/6.2/reversegeocode.json?prox=${lat}%2C${lng}%2C250&mode=retrieveAddresses&maxresults=1&gen=9&apiKey=${apikey}&language=en`);
        let json = await res.json();
        if(json.Response.View[0].Result[0].Location.Address.AdditionalData[0].value){
            countryName = json.Response.View[0].Result[0].Location.Address.AdditionalData[0].value;
            window.location.href=`/news/mapSearch?country=${countryName}`
        }
        if(json.Response.View[0].Result[0].Location.Address.AdditionalData[1].value){
            cityName = json.Response.View[0].Result[0].Location.Address.AdditionalData[1].value;
        }


    }

</script>

<!-- canvas script -->
<script>

    var c = document.getElementById("roundBorderCanvas");
    var ctx1 = c.getContext("2d");
    c.width = 1000;
    c.height =1600;
    ctx1.lineWidth=1.3;
    ctx1.beginPath();
    ctx1.scale(4, 4.1);
    ctx1.arc(100, 73, 70, 1.7, 1.5 * Math.PI, true);
    ctx1.strokeStyle='#777';
    ctx1.stroke();



    var topLineCanvas = document.getElementById("topLineCanvas");
    var ctx2 = topLineCanvas.getContext("2d");
    ctx2.lineWidth=4;
    ctx2.moveTo(50, 0);
    ctx2.lineTo(50, 8);
    ctx2.strokeStyle='#777';
    ctx2.stroke(); 

    var bottomLineCanvas = document.getElementById("bottomLineCanvas");
    var ctx3 = bottomLineCanvas.getContext("2d");
    ctx3.lineWidth=4;
    ctx3.moveTo(50, 0);
    ctx3.lineTo(50, 15);
    ctx3.strokeStyle='#777';
    ctx3.stroke(); 

    var baseLineCanvas = document.getElementById("baseLineCanvas");
    var ctx4 = baseLineCanvas.getContext("2d");
    ctx4.lineWidth=8;
    ctx4.moveTo(50, 0);
    ctx4.lineTo(50, 60);
    ctx4.strokeStyle='#777';
    ctx4.stroke(); 

    var baseCanvas = document.getElementById("baseCanvas");
    var ctx5 = baseCanvas.getContext("2d");
    baseCanvas.width = 600;
    baseCanvas.height =600;
    ctx5.beginPath();
    ctx5.scale(2.5, 4);
    ctx5.ellipse(100, 100, 50, 50, Math.PI / 4, 0, 2 * Math.PI);
    ctx5.strokeStyle='#777';
    ctx5.stroke();
    ctx5.fillStyle="#777";
    ctx5.fill();


</script>