<%- contentFor('title')%>
<%= title %>

<%- contentFor('breadcrumb_title')%>
<%= title %>

<%- contentFor('breadcrumb_item') %>
<li class="breadcrumb-item">Blog</li>
<li class="breadcrumb-item active"><%= title %></li>

<%- contentFor('body') %>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="blog-single">
                <div class="blog-box blog-details"><img class="img-fluid w-100" src="<%= blog.imgUrl %>" alt="blog-main">
                    <div class="blog-details">
                        <ul class="blog-social">
                            <li class="digits">25 July 2018</li>
                            <li><i class="icofont icofont-user"></i>Mark <span>Jecno </span></li>
                            <li><i class="fa fa-eye"></i> <%= blog.views %> </li>
                            <li class="digits"><i class="fa fa-tag"></i><%= blog.tag %></li>
                            <li class="digits"><i class="fa fa-vcard"></i><%= blog.category %></li>
                        </ul>
                        <h2 style="margin-top: 30px;"> <%= blog.header %> </h2>
                        <div class="single-blog-content-top">
                            <% for(para of blog.contentTexts){ %>
                                <p style="margin: 0;display: inline;color: #444;line-height: 2;letter-spacing: 1px;word-spacing: 1px;" > <%= para %> </p>
                            <% } %>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



<script src="/assets/js/tooltip-init.js"></script>