


<%- contentFor('title')%>
<%= title %>

<%- contentFor('breadcrumb_title')%>
<%= title %>

<%- contentFor('breadcrumb_item') %>
<li class="breadcrumb-item">Glopper</li>
<li class="breadcrumb-item active"><%= title %></li>

<%- contentFor('body') %>
<!-- Container-fluid starts-->

<style>
    .xIcon{
        cursor: pointer;
        position: absolute;
        top: 28px;
        right: -25px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 sm-60">

            <% for(blog of blogs){ %>
                <div class="card" id="saved-<%=blog.id%>">
                    <div class="job-search row">
                        <div class="col-3">
                            <a href="/news/<%=blog.id%>"><img style="margin:20px 0px 20px 20px; width: 150px;height: 150px;"  src="<%= blog.imgUrl %>" alt=""></a>
                        </div>
                        <div class="card-body col-8">
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="f-w-600"><a href="/news/<%=blog.id%>"> <%= blog.header %> </a></h6> <i id="<%=blog.id%>" class="xIcon" title="save" data-feather="x"></i>
                                    <p> <i class="fa fa-tag"></i> <%= blog.tag %> </p>
                                </div>
                            </div>
                            <p style="margin-top: 10px;"> <%= blog.summary %> </p>
                            
                        </div>
                    </div>
                </div>
            <% } %>

            
        
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->


<script src="<%= global.url %>assets/js/tooltip-init.js"></script>


<script>

    const xIcons = document.querySelectorAll('.xIcon');

    xIcons.forEach(xIcon => {
        xIcon.addEventListener('click', async function(){
            const user = firebase.auth().currentUser;
            let userId;
            if(user != null){
                userId = user.uid;
            }  
            let cardToRemove = document.getElementById(`saved-${this.id}`);
            cardToRemove.style.display = 'none';
            await fetch(`/news/removeThisNew?articleId=${this.id}&userId=${userId}`)
        })
    })


</script>