<%- contentFor('title') %>
<%= title %>

<%- contentFor('breadcrumb_title')%>
Home

<%- contentFor('breadcrumb_item') %>
<li class="breadcrumb-item">Glopper</li>
<li class="breadcrumb-item active"><%= title %></li>

<%- contentFor('body') %>
<div class="flourish-embed flourish-map" data-src="story/229998"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
<br />
<hr />
<br />
<div class="flourish-embed flourish-chart" data-src="story/230114"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
<br />
<hr />
<br />
<div class="flourish-embed flourish-chart" data-src="story/230085"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
<br />
<hr />
<br />
<div class="flourish-embed flourish-table" data-src="story/230195"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

