<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('layouts/head') %>
    <title><%= title %> | Glopper</title>
    <%- include ('layouts/style') %>

    <style>
        div.customizer-links{
            z-index: 100;
        }
    </style>

</head>

<body>
    <!-- Loader starts-->
    <!--<div class="loader-wrapper">-->
    <!--    <div class="loader bg-white">-->
    <!--        <div class="whirly-loader"> </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <%- include ('layouts/header') %>
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <%- include ('layouts/sidebar') %>
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-header">
                        
                        <div class="row">
                            <div class="col">
                                <div class="page-header-left">
                                    <h3><%-breadcrumb_title%></h3>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                                        <%-breadcrumb_item%>
                                    </ol>
                                </div>
                            </div>
                            <!-- Bookmark Start-->
                            <div class="col">
                                <div class="bookmark pull-right">
                                    <ul>
                                        <li id="voiceSearchBtn"><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Serach By Voice"><i data-feather="mic"></i></a></li>
                                        <li><a href="#" data-container="body" data-toggle="modal" data-target="#exampleModalCenter" data-placement="top" title="" data-original-title="Subscribe"><i data-feather="mail"></i></a></li>
                                        <li><a href="#" data-original-title="Search Bookmarks"><i class="bookmark-search"  data-feather="bookmark"></i></a>
                                            <form action="/savedNews/search" method="GET" class="form-inline search-form">
                                                <div class="form-group form-control-search">
                                                    <input name="searchTxt" type="text" placeholder="Search..">
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="modal-title" id="exampleModalLongTitle">Get Daily News Based On Your Location.</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div style="display: none;" id="subscribeAlert" class="alert alert-info" role="alert">
                                        <h6>Congrats, You Subscribed Successfully :D</h6>
                                    </div>
                                    <form method="" action="">
                                        <div class="modal-body">
                                            <div class="form-group">
                                              <label for="recipient-name" class="col-form-label">Email:</label>
                                              <input type="email" name='email' class="form-control" id="emailToSubscribe" placeholder="example@example.com" >
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="closeSubscribeBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button id="subscribeBtn" type="submit" class="btn btn-primary">Subscribe</button>
                                        </div>
                                    </form>

                                </div>
                                </div>
                            </div>
                            <!-- Bookmark Ends-->
                        </div>
                    </div>
                </div>
                <%- body %>
                <div>
                </div>
            </div>
            <%- include ('layouts/footer') %>
        </div>
    </div>
    <%- include ('layouts/script') %>

    <!-- voice recognition related -->
    <script>

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
        var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
        var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent

        var grammar = '#JSGF V1.0;'


        var recognition = new SpeechRecognition();
        var speechRecognitionList = new SpeechGrammarList();
        speechRecognitionList.addFromString(grammar, 1);
        recognition.grammars = speechRecognitionList;
        recognition.lang = 'en-US';
        recognition.interimResults = false;
        recognition.maxAlternatives = 1;

        document.querySelector('#voiceSearchBtn').addEventListener('click', function(){
            recognition.start();
        });

        recognition.onresult = function(event) {
            var last = event.results.length - 1;
            var command = event.results[last][0].transcript;

            // alert(command);
            window.location.href = `/news/local?country=${command}`;
        };

        recognition.onspeechend = function() {
            recognition.stop();
        };

        recognition.onerror = function(event) {
            alert('Error occurred in recognition: ' + event.error);
        }        



    </script>

    <script>
        document.getElementById('subscribeBtn').addEventListener('click', function(e){
            e.preventDefault();

            document.getElementById('subscribeAlert').style.display = 'block';
            setTimeout(() => {
                document.getElementById('subscribeAlert').style.display = 'none';
                document.getElementById('closeSubscribeBtn').click();
            }, 1200);

        })
    </script>
</body>

</html>